<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Name Them!</string>
		<key>questions</key>
		<array>
			<dict>
				<key>points</key>
				<integer>100</integer>
				<key>category</key>
				<string>Name Them!</string>
				<key>questionText</key>
				<string>Name all 6 main characters from the TV show Friends using both their first and last names.</string>
				<key>questionType</key>
				<string>text</string>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string> </string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>friends_answer</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>200</integer>
				<key>category</key>
				<string>Name Them!</string>
				<key>questionText</key>
				<string>Name 5 different sports, and pair each with one famous athlete who plays it.</string>
				<key>questionType</key>
				<string>text</string>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Cricket: Virat Kohli
Football: Lionel Messi
Tennis: Serena Williams
Basketball: LeBron Jame
 Badminton: Saina Nehwal</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Name Them!</string>
				<key>questionText</key>
				<string>Name all 6 Infinity Stones collected by Thanos in the Marvel Cinematic Universe.</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>gauntlet</string>
				<key>answerText</key>
				<string></string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>stones</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Name Them!</string>
				<key>questionText</key>
				<string>Name 5 official National Parks or State Parks located in the United States.</string>
				<key>questionType</key>
				<string>text</string>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Yellowstone, Yosemite, Grand Canyon, Zion, Acadia, Glacier</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>400</integer>
				<key>category</key>
				<string>Name Them!</string>
				<key>questionText</key>
				<string>Name all 4 Hogwarts houses along with the full names of their original historical founders.</string>
				<key>questionType</key>
				<string>text</string>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Gryffindor – Godric Gryffindor
Slytherin – Salazar Slytherin
Ravenclaw – Rowena Ravenclaw
Hufflepuff – Helga Hufflepuff</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Fact-ferret</string>
		<key>questions</key>
		<array>
			<dict>
				<key>points</key>
				<integer>100</integer>
				<key>category</key>
				<string>Fact-ferret</string>
				<key>questionText</key>
				<string>What is the hardest and strongest substance in the human body?</string>
				<key>questionType</key>
				<string>text</string>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Tooth Enamel</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>200</integer>
				<key>category</key>
				<string>Fact-ferret</string>
				<key>questionText</key>
				<string>Blood vessels supply oxygen to almost every corner of our bodies. What is the only part of the human body that contains absolutely no blood supply and takes its oxygen directly from the air?</string>
				<key>questionType</key>
				<string>text</string>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Cornea of Eye</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Fact-ferret</string>
				<key>questionText</key>
				<string>What is the hottest planet in our solar system?</string>
				<key>questionType</key>
				<string>text</string>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Venus</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>venus</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>400</integer>
				<key>category</key>
				<string>Fact-ferret</string>
				<key>questionText</key>
				<string>What is the only country in the world whose national flag does not have four sides?</string>
				<key>questionType</key>
				<string>text</string>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Nepal</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>nepal</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>500</integer>
				<key>category</key>
				<string>Fact-ferret</string>
				<key>questionText</key>
				<string>What is the only element that stays liquid and refuses to freeze at Absolute Zero?</string>
				<key>questionType</key>
				<string>text</string>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Helium</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Dialogue Baazi</string>
		<key>questions</key>
		<array>
			<dict>
				<key>points</key>
				<integer>100</integer>
				<key>category</key>
				<string>Dialogue Baazi</string>
				<key>questionText</key>
				<string>&quot;Jitna bhi try karo bunny, life mein kuch na kuch toh chootega hi. __________________________________.”</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>dip</string>
				<key>answerText</key>
				<string>&quot;Jitna bhi try karo bunny, life mein kuch na kuch toh chootega hi. Toh jahan hain, vahin kaa mazaa lete hain.&quot;
- Yeh Jawaani Hai Deewani </string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>dip</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>200</integer>
				<key>category</key>
				<string>Dialogue Baazi</string>
				<key>questionText</key>
				<string>&quot;Itni shiddat se maine tumhe paane ki koshish ki hai... _________________________________________. Kehte hain agar kisi cheez ko dil se chaho, toh puri kainaat usse tumse milane ki koshish mein lag jaati hai.&quot;</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>sha</string>
				<key>answerText</key>
				<string>&quot;Itni shiddat se maine tumhe paane ki koshish ki hai... ki har zarre ne mujhe tumse milane ki saazish ki hai. Kehte hain agar kisi cheez ko dil se chaho, toh puri kainaat usse tumse milane ki koshish mein lag jaati hai.&quot;
- Om Shanti Om</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>sha</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Dialogue Baazi</string>
				<key>questionText</key>
				<string>&quot;Aloo lelo, kanda lelo... ____________________________________________”</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>aloo</string>
				<key>answerText</key>
				<string>&quot;Aloo lelo, kanda lelo... subah se na ek aloo bika hai, na bika hai aadha kanda!&quot;
- Welcome</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>aloo</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>400</integer>
				<key>category</key>
				<string>Dialogue Baazi</string>
				<key>questionText</key>
				<string>“__________________. Kya pata, kal ho naa ho.&quot;</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>kal</string>
				<key>answerText</key>
				<string>“Hasso, jiyo, muskurao. Kya pata, kal ho naa ho.&quot;
- Kal Ho Naa Ho </string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>kal</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>500</integer>
				<key>category</key>
				<string>Dialogue Baazi</string>
				<key>questionText</key>
				<string>“Utha le re baba… utha le!.... __________________________”</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>babu</string>
				<key>answerText</key>
				<string>“Utha le re baba… utha le!....  Mere ko nahi, in dono ko utha le.”</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>babu</string>
				<key>isAnswered</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Look Closer</string>
		<key>questions</key>
		<array>
			<dict>
				<key>points</key>
				<integer>100</integer>
				<key>category</key>
				<string>Look Closer</string>
				<key>questionText</key>
				<string>What is this landmark, and where is it located?</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>col</string>
				<key>answerText</key>
				<string>Colosseum, Rome, Italy</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>col</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>200</integer>
				<key>category</key>
				<string>Look Closer</string>
				<key>questionText</key>
				<string>Name the state</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>miz</string>
				<key>answerText</key>
				<string>Mizoram</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Look Closer</string>
				<key>questionText</key>
				<string>Can you name the dog breed?</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>dog</string>
				<key>answerText</key>
				<string>Doberman</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>dog</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>400</integer>
				<key>category</key>
				<string>Look Closer</string>
				<key>questionText</key>
				<string>What is the name of this bird?</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>bird</string>
				<key>answerText</key>
				<string>Toucan</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>bird</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>500</integer>
				<key>category</key>
				<string>Look Closer</string>
				<key>questionText</key>
				<string>Can you tell where she is from?</string>
				<key>questionType</key>
				<string>image</string>
				<key>mediaResourceName</key>
				<string>japan</string>
				<key>answerText</key>
				<string>Japan</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Guess The Tune</string>
		<key>questions</key>
		<array>
			<dict>
				<key>points</key>
				<integer>100</integer>
				<key>category</key>
				<string>Guess The Tune</string>
				<key>questionText</key>
				<string>Name the song</string>
				<key>questionType</key>
				<string>audio</string>
				<key>mediaResourceName</key>
				<string>aari</string>
				<key>answerText</key>
				<string>Bairan</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Guess The Tune</string>
				<key>questionText</key>
				<string>Name the song</string>
				<key>questionType</key>
				<string>audio</string>
				<key>mediaResourceName</key>
				<string>bairan</string>
				<key>answerText</key>
				<string>Bairan</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Guess The Tune</string>
				<key>questionText</key>
				<string>Name the song</string>
				<key>questionType</key>
				<string>audio</string>
				<key>mediaResourceName</key>
				<string>bairan</string>
				<key>answerText</key>
				<string>Bairan</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Guess The Tune</string>
				<key>questionText</key>
				<string>Name the song</string>
				<key>questionType</key>
				<string>audio</string>
				<key>mediaResourceName</key>
				<string>bairan</string>
				<key>answerText</key>
				<string>Bairan</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Guess The Tune</string>
				<key>questionText</key>
				<string>Name the song</string>
				<key>questionType</key>
				<string>audio</string>
				<key>mediaResourceName</key>
				<string>bairan</string>
				<key>answerText</key>
				<string>Bairan</string>
				<key>answerType</key>
				<string>text</string>
				<key>answerMediaResourceName</key>
				<string></string>
				<key>isAnswered</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Guess me if you can?</string>
		<key>questions</key>
		<array>
			<dict>
				<key>points</key>
				<integer>100</integer>
				<key>category</key>
				<string>Guess me if you can?</string>
				<key>questionText</key>
				<string>Who am I?</string>
				<key>questionType</key>
				<string>hints</string>
				<key>hints</key>
				<array>
					<string>Jale hue baal bech kar bolta hoon, &quot;i smell good.&quot;</string>
					<string>I love my x.</string>
					<string>I wanna shoot for stars.</string>
					<string>i forget my wifi passowrd, so i named my kid after it</string>
				</array>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Elon Musk</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>musk</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>200</integer>
				<key>category</key>
				<string>Guess me if you can?</string>
				<key>questionText</key>
				<string>Who am I?</string>
				<key>questionType</key>
				<string>hints</string>
				<key>hints</key>
				<array>
					<string>Pandit hoke bhi galiya deta hu.</string>
					<string>People think I&apos;m crazy, I think everything is crazy.</string>
					<string>In India, I got bullied for being gora.</string>
					<string>I am still alive!</string>
				</array>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Samay Raina</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>samay</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>300</integer>
				<key>category</key>
				<string>Guess me if you can?</string>
				<key>questionText</key>
				<string>Who am I?</string>
				<key>questionType</key>
				<string>hints</string>
				<key>hints</key>
				<array>
					<string>My Favourite color is red</string>
					<string>Jo mai bolta hu wo mai shayad karta hu, par jo mai nahi bolta, wo mai definitely karta hu.</string>
					<string>Atithi is NOT devo bhava</string>
					<string>People meme me with a Disney character.</string>
				</array>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Donald Trump</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>trump</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>400</integer>
				<key>category</key>
				<string>Guess me if you can?</string>
				<key>questionText</key>
				<string>Can you guess this person?</string>
				<key>questionType</key>
				<string>hints</string>
				<key>hints</key>
				<array>
					<string>I preached to live fully, because tomorrow might not exist.</string>
					<string>Shuru mein I am Gujarati</string>
					<string>My hands are always wide open waiting for a hug.</string>
					<string>Main ruk-ruk k hakalata hoon.</string>
				</array>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Shah Rukh Khan</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>shah</string>
				<key>isAnswered</key>
				<false/>
			</dict>
			<dict>
				<key>points</key>
				<integer>500</integer>
				<key>category</key>
				<string>Guess me if you can?</string>
				<key>questionText</key>
				<string>Who am I?</string>
				<key>questionType</key>
				<string>hints</string>
				<key>hints</key>
				<array>
					<string>People don&apos;t know my name, but everyone knows me.</string>
					<string>I love sea salt in my food.</string>
					<string>I love taking walks in my pajama.</string>
					<string>Indians love keeping my photo in their house.</string>
				</array>
				<key>mediaResourceName</key>
				<string></string>
				<key>answerText</key>
				<string>Mahatma Gandhi</string>
				<key>answerType</key>
				<string>image</string>
				<key>answerMediaResourceName</key>
				<string>gandhi</string>
				<key>isAnswered</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
